
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Faster+One');

h1, h2, h3, h4 {
  font-family: 'Montserrat Subrayada', sans-serif;
}
h1{
  font-size:30px;
  font-family: 'Faster One', cursive;
}
